<div class="container">
    <label for="nome">Nome</label>
    <input type="text" id="nome">

    <label for="sobrenome">Sobrenome</label>
    <input type="text" id="sobrenome">

    <label for="telefone">Telefone</label>
    <input type="tel" id="telefone" placeholder="(11) 00000-000">

    <label for="curso">Curso</label>
    <input type="text" id="curso">

    <label for="cidade">Cidade</label>
    <input type="text" id="cidade">

    <label for="mensagem">Mensagem</label>
    <textarea name="mensagem" id="mensagem" cols="60" rows="10"></textarea>

    <button>Enviar</button>
</div>